[user]
	name = Lee Colarelli
	email = lco@avrillo.co.uk
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/leecolarelli/Projects/dotfiles/.gitignore_global
[gpg]
	format = ssh
